.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.loginInput{
    margin-bottom: 10px;
    width: 20%;
}
.loginBtn{
    width: 10%;
    background-color: teal;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}